@import "tailwindcss";


@theme inline {
  --color-primary: #9B95C1;
}

.ant-card {
  margin-bottom: 30px !important;
}

.custom-calendar thead {
  background: #f7f6f8;
}

.custom-calendar .ant-picker-cell-selected ul {
  color: #7b39c9 !important;
}

.custom-calendar .ant-picker-calendar-date-today {
  background: #ffe6dc !important;
  border-color: #f29760 !important;
}